<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Result</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  
  </head>
  <body>
    
    <nav class="nav-extended">
      <div class="nav-wrapper blue">
        <a href="#" class="brand-logo center">Transcript Parser</a>
        <ul class="left">
          <li><a href="/">Go Back</a></li>
        </ul>    
      </div>
    </nav>

    <main class="container">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="card horizontal">
                      
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>Name: <%= data.fullname %></p>
                                <p>ID: <%= data.id %></p>
                                <p>GPA: <%= data.gpa %></p>

                                <p>COMP2601: <%= data.comp2601 %></p>
                                <p>COMP2602: <%= data.comp2602 %></p>
                                <p>COMP2603: <%= data.comp2603 %></p>
                                <p>COMP2604: <%= data.comp2604 %></p>
                                <p>COMP2605: <%= data.comp2605 %></p>
                                <p>COMP2606: <%= data.comp2606 %></p>
                                <p>COMP2611: <%= data.comp2611 %></p>
                                <p>COMP3601: <%= data.comp3601 %></p>
                                <p>COMP3602: <%= data.comp3602 %></p>
                                <p>COMP3603: <%= data.comp3603 %></p>
                                <p>COMP3605: <%= data.comp3605 %></p>
                                <p>COMP3606: <%= data.comp3606 %></p>
                                <p>COMP3607: <%= data.comp3607 %></p>
                                <p>COMP3608: <%= data.comp3608 %></p>
                                <p>COMP3609: <%= data.comp3609 %></p>
                                <p>COMP3610: <%= data.comp3610 %></p>
                                <p>COMP3611: <%= data.comp3611 %></p>
                                <p>COMP3612: <%= data.comp3612 %></p>
                                <p>COMP3613: <%= data.comp3613 %></p>

                                <p>INFO2602: <%= data.info2602 %></p>
                                <p>INFO2604: <%= data.info2604 %></p>
                                <p>INFO2605: <%= data.info2605 %></p>
                                <p>INFO3600: <%= data.info3600 %></p>
                                <p>INFO3604: <%= data.info3604 %></p>
                                <p>INFO3605: <%= data.info3605 %></p>
                                <p>INFO3606: <%= data.info3606 %></p>
                                <p>INFO3607: <%= data.info3607 %></p>
                                <p>INFO3608: <%= data.info3608 %></p>
                                <p>INFO3609: <%= data.info3609 %></p>
                                <p>INFO3610: <%= data.info3610 %></p>
                                <p>INFO3611: <%= data.info3611 %></p>

                                <p>MATH2250: <%= data.math2250 %></p>


                            </div>
                        </div>
                    </div>
                </div>

              <div class="row">
                
                <div class="input-field col s12">
                  <textarea id="textarea2" style="height: 90vh;" class="materialize-textarea">
                    <%= JSON.stringify(parsedText) %>
                    </textarea>
                <label for="textarea1">Parsed Contents</label>
                </div>
              </div>
            </form>
          </div>
    </main>

    
  </body>
</html>